.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
    margin-bottom: 3rem;
}

.navLinkGroup {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navLink {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}